@import '~ant-design-vue/es/table/style/index.less';
@import '~ant-design-vue/es/pagination/style/index.less';
@import '~ant-design-vue/es/button/style/index.less';
@import '~@baifendian/adherev-ui-suspense/lib/index.less';
@import '~@baifendian/adherev-ui-flexlayout/lib/index.less';
@import '~@baifendian/adherev-ui-css/lib/iconfont/iconfont.less';

.adherev-ui-searchtable {
  position: relative;
  padding: 24px;
  background-color: #f0f2f5;

  > .adherev-ui-searchtable-searchwrapper {
    margin-bottom: 16px;
    padding: 24px 24px 0;
    background: #fff;

    .adherev-ui-searchtable-searchfooterwrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 20px;

      > .adherev-ui-searchtable-searchfooteritem {
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-right: 10px;
        }

        &.ant-btn {
          display: flex;
        }
      }
    }
  }

  > .adherev-ui-searchtable-autowrapper {
    position: relative;
    background: #fff;
    border-radius: 2px;

    &.autofixed {
      overflow-y: auto;
    }

    > .adherev-ui-searchtable-tablewrapper {
      width: 100%;
    }
  }
}

.adherev-ui-searchform {
  min-width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 20px;

  > tbody {
    > .adherev-ui-searchform-row {
      > .adherev-ui-searchform-label {
        //max-width: 60px;
        padding-right: 10px;
        white-space: nowrap;
        text-align: right;
        word-break: keep-all;
      }
    }
  }
}

.adherev-ui-searchtableimplement-tablewrapper {
  height: 100%;
}
