@import '~@baifendian/adherev-ui-css/lib/vars';

.adherev-ui-searchtable-protable-headeritem {
  &:not(:last-child) {
    margin-right: 10px;
  }

  > a {
    > img {
      width: 25px;
    }
  }
}

.adherev-ui-searchtable-protable-gridsearchformgroupwrap {
  width: 100%;
}

.adherev-ui-searchtable-protable-headersearchwrap {
  > .adherev-ui-searchtable-protable-headersearchwrap-main {
    padding: 5px 5px 10px 5px;

    .ant-select,
    .ant-picker,
    .ant-input-number {
      width: 100%;
    }
  }

  > .adherev-ui-searchtable-protable-headersearchwrap-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid @adhere-border-color;
  }
}
