.adherev-ui-playground {
  border-radius: 2px;
  transition: all 0.3s ease;

  &.adherev-ui-playground-active {
    border: 1px solid @adhere-primary-color;
  }

  .adherev-ui-playground-action-btn {
    width: 14px;
    margin: 0 10px;

    &:hover {
      cursor: pointer;
    }
  }
}
